.App{
    height: 100vh;
    padding-top: 10px;
    background-color: #1b1b32;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-TheJeds-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.TheJeds-logo{
    border-radius: 30px;
    border: 2px solid white;
    height: 125px; 
}

.container-calculadora{
    width: 400px;
    height: 600px;
    padding: 14px;
    background-color: #99c9ff;
    border-radius: 20px;
    border: 5px solid white;
}

.fila{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}